@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Exo 2', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #1E202F;
    background-size: cover;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 5vw;
    background: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}

header .logo{
    width: 45vw;
}

header .logo img{
    width: 15vw;

}

header .menu ul{
    display: flex;

}

header .menu ul li{
    padding: 0 1vw;
    list-style: none;
    
}

header .menu ul li a{
    text-decoration: none;
    color: #1E202F;
    transition: 0.5s ease;
}


header .menu ul li a:hover{
    color: #FF9B01;
}

header .menu-mobile{
    display: none;
}

header .btn-mobile{
    display: none;
}


/*====== Main Home ======*/

#home .container{
    width: 100%;
    height: 100vh;
    background-image: url(img/CREATIVE_HEADER.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#home .container .icons{
    width: 1vw;
    height: 49vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5vw;
    position: fixed;
    z-index: 999;
    transition: 2s ease;
}

#home .container .icons ion-icon{
    padding: 2vw 0;
    font-size: 2vw;
    color: #1E202F;
    transition: 0.5s ease;
}

#home .container .icons ion-icon:hover{
    color: #FF9B01;
}

#home .container .title{
    margin-right: 12vw;
    height: 46vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    transition: 1.5s ease;

}

#home .container .title h1{
    color: black;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 50vw; 
    margin-right: -5vw; 
    letter-spacing: 0.7vw;
    line-height: 5vw;  
}

#home .container .title h2{
    color: black;
    text-transform: uppercase;
    letter-spacing: 2.6vw;
    font-size: 2vw;
    margin-right: -5vw;
    line-height: 3vw;
}

#home .container .title h3{
    color: black;
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.9vw;
    margin-right: -2.3vw;
}

#home .container .imageman img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85vw;
    height: 43vw;
}
#home .container .imageman .entrada-esquerda {
    animation: entrada-esquerda 1.7s ease-out forwards;
    transform: translateX(-100vw);
    right: 30vw;
    
}
  
  @keyframes entrada-esquerda {
    from {
      transform: translateX(-100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

  

/*====== Sobre ======*/

#sobre .container{
    width: 100%;
    height: 100vh;
    background: url(img/CREATIVE_2.png);
    background-size: cover;
    justify-content: space-between;
    background-attachment: fixed;

}

#sobre .container .title{
    position: absolute;
    width: 60vw;
    height: 38vw;
    left: 0%;
    right: 0;
    margin: 6vw auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 2s ease;
    background: rgba(0,0,0,0.5);
    text-align: center;
    
}

#sobre .container .title h1{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 2.5vw;
    margin-top: 2vw;
    width: 30vw;
    text-shadow: 2px 2px 2px #000000;


}
#sobre .container .title p{
    position: absolute;
    z-index: 9;
    width: 54vw;
    color: #fff;
    margin-top: 6vw;
    text-align: center;
    font-size: 1.3vw;
    line-height: 1.9vw;
    text-shadow: 2px 2px 2px #000000;

}

/*====== portfolio ======*/
#port .container{
    width: 100%;
    height: 100vh;
    background: url(img/CREATIVE_3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

#port .container input[type=radio]{
    display: none;
}

/*====== CARD 1 ======*/
#port .container .card1{
    position: absolute;
    width: 40vw;
    height: 41vw;
    left: 0%;
    right: 0;
    margin: 4.5vw auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s ease;

}

#port .container .card1 img{
    width: 40vw;
    height: 41vw;
    object-fit: cover;
}


#port .container .card1 h1{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 2.5vw;
    margin-top: 2vw;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;

}

#port .container .card1 p{
    position: absolute;
    z-index: 9;
    width: 35vw;
    color: #fff;
    margin-top: 5.5vw;
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.5vw;
    text-shadow: 2px 2px 2px #000000;

}

#port .container .card1 .btn-link{
    position: absolute;
    text-decoration: none;
    margin-top: 35vw;
    width: 10vw;
    padding: 0.8vw;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 0.2vw;
    
}
#port .container .card1 .btn-link:hover{
    transition: 0.3s ease;
    background-color: rgba(0,0,0,0.2);
    color: #FF9B01;
}
/*====== CARD 2 ======*/
#port .container .card2{
    position: absolute;
    width: 40vw;
    height: 41vw;
    left: 0%;
    right: 0;
    margin: 4.5vw auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s ease;

}

#port .container .card2 img{
    width: 40vw;
    height: 41vw;
    object-fit: cover;
}


#port .container .card2 h1{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 2.5vw;
    margin-top: 2vw;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;

}

#port .container .card2 p{
    position: absolute;
    z-index: 9;
    width: 25vw;
    color: #fff;
    margin-top: 6vw;
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.5vw;
    text-shadow: 2px 2px 2px #000000;

}

#port .container .card2 .btn-link{
    position: absolute;
    text-decoration: none;
    margin-top: 34vw;
    width: 10vw;
    padding: 0.8vw;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 0.2vw;
    
}
#port .container .card2 .btn-link:hover{
    transition: 0.3s ease;
    background-color: rgba(0,0,0,0.2);
    color: #FF9B01;
}
/*====== CARD 3 ======*/
#port .container .card3{
    position: absolute;
    width: 40vw;
    height: 41vw;
    left: 0%;
    right: 0;
    margin: 4.5vw auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s ease;

}

#port .container .card3 img{
    width: 40vw;
    height: 41vw;
    object-fit: cover;
}


#port .container .card3 h1{
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 2.5vw;
    margin-top: 2vw;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;

}

#port .container .card3 p{
    position: absolute;
    z-index: 9;
    width: 25vw;
    color: #fff;
    margin-top: 6vw;
    text-align: center;
    font-size: 1.2vw;
    line-height: 2vw;
    text-shadow: 2px 2px 2px #000000;

}

#port .container .card3 .btn-link{
    position: absolute;
    text-decoration: none;
    margin-top: 30vw;
    width: 10vw;
    padding: 0.8vw;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 0.2vw;
    
}
#port .container .card3 .btn-link:hover{
    transition: 0.3s ease;
    background-color: rgba(0,0,0,0.2);
    color: #FF9B01;
}

#port .container .cards{
    position: relative;
    width: 100vw;
    height: 100vw;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

/*====== Contact ======*/

#contact .container{
    width: 100%;
    height: 100vh;
    background-image: url(img/CREATIVE_HEADER.png);
    display: flex;
    background-size: cover;
    background-attachment: fixed;

}

#contact .container .content-contact{
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    padding: 12vw 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

#contact .content-contact .contact-left{
    margin-top: -1vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    color: black;
    transition: 2s ease;
}

#contact .content-contact .contact-left h1{
    font-size: 2vw;
    text-transform: uppercase;
}

#contact .content-contact .linha{
    width: 25vw;
    height: 0.15vw;
    background: #1E202F;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}

#contact .content-contact .contact-left ion-icon{
    font-size: 2vw;
    padding: 1vw 0;

}

#contact .content-contact .contact-left span{
    font-size: 1.3vw;
    padding: 0.5vw 0;
}

#contact .content-contact .contact-right{
    margin-top: -3vw;
    width: 25vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    color: black;
    transition: 2s ease;
}

#contact .content-contact .contact-right h1{
    font-size: 2vw;
    text-transform: uppercase;
}

#contact .content-contact .contact-right input[type=email],
#contact .content-contact .contact-right input[type=text]{
    width: 22vw;
    height: 0.3vw;
    border-radius: 0.2vw;
    border: none;
    padding: 0.9vw 1vw;
    margin-bottom: 1vw;
    font-size: 1vw;
    outline: none;    
}

#contact .content-contact .contact-right form{
    font-size: 1.2vw;
    line-height: 2.3vw;
}

#contact .content-contact .contact-right textarea{
    width: 21.5vw;
    height: 8vw;
    border-radius: 0.2vw;
    border: none;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    outline: none;
    padding: 1vw 1.3vw;
    resize: vertical;
}


#contact .content-contact .contact-right button{
    text-decoration: none;
    margin-top: -1vw;
    width: 24vw;
    padding: 0.9vw;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 0.2vw;
    border: none;
    font-size: 1.1vw;
    cursor: pointer;

}

#contact .content-contact .contact-right button:hover{
    transition: 0.3s ease;
    background-color: rgba(0,0,0,0.2);
    color: #FF9B01;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0.4vw 0.3vw #FF9B01;
    transition: 0.2s ease;
}


/*====== Footer ======*/

footer{
    width: 100%;
    height: 22vw;
    color: #fff;
    line-height: 2vw;
    text-align: center;
    background: #1E202F;
    position: relative;
    top: 0vw;
    font-size: 1vw;
}

.column {
    display: inline-block;
    width: 20vw;
    vertical-align: top;
    margin-right: 1vw;
    margin-top: 2vw;
  }
  
  h3 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.8vw;
  }
  
  a {
    text-decoration: none;
    color: #FF9B01;
  }  

.links{
    line-height: 1.1vw;
}

footer .copyright p{
    margin-top: 2.2vw;
    font-size: 1vw;
    align-items: center;
}

a:hover{
    color: #fff;
    transition: 0.4s ease;
}

/*====== Responsive ======*/
